@import "tailwindcss";
@import "tw-animate-css";
/* @import "../SliderCss/Slider.css"; */

@custom-variant dark (&:is(.dark *));

/* Style for all bullets */

.swiper-pagination-custom {
  position: absolute !important;
  z-index: 1000;
  top: 70.72% !important;
  left: 9.4% !important;
}

@media (min-width: 600px) {
  .swiper-pagination-custom {
    position: absolute !important;
    z-index: 1000;
    top: 83.72% !important;
    left: 9.4% !important;
  }
}
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: #ccc;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

@media (min-width: 600px) {
  .swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    background-color: #ccc;
    opacity: 0.8;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  box-shadow: 0 0 5 0 #0000001a !important;
  opacity: 1;
}

.custom-prev,
.custom-next {
  /* @apply absolute top-1/2 -translate-y-1/2 z-10  text-white w-10 h-10 flex items-center justify-center rounded-e-2xl cursor-pointer; */

  position: absolute !important;
  top: 50% !important;
  z-index: 1000;
  transform: translateY(-50%);
  padding: 4px 8px 4px 5px !important;
  background: #0000001a;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

@media (min-width: 600px) {
  .custom-prev,
  .custom-next {
    /* @apply absolute top-1/2 -translate-y-1/2 z-10  text-white w-10 h-10 flex items-center justify-center rounded-e-2xl cursor-pointer; */

    position: absolute !important;
    top: 50% !important;
    z-index: 1000;
    transform: translateY(-50%);
    padding: 8px 17px 8px 10px !important;
    background: #0000001a;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
  }
}

.custom-prev-product,
.custom-next-product {
  /* @apply absolute top-1/2 -translate-y-1/2 z-10  text-white w-10 h-10 flex items-center justify-center rounded-e-2xl cursor-pointer; */

  position: absolute !important;
  top: 50% !important;
  z-index: 1000 !important;
  transform: translateY(-50%);
  padding: 8px 17px 8px 10px !important;
  background: #0000001a;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
@media (min-width: 600px) {
  .custom-prev-product,
  .custom-next-product {
    /* @apply absolute top-1/2 -translate-y-1/2 z-10  text-white w-10 h-10 flex items-center justify-center rounded-e-2xl cursor-pointer; */

    position: absolute !important;
    top: 50% !important;
    z-index: 1000 !important;
    transform: translateY(-50%);
    padding: 8px 17px 8px 10px !important;
    background: #0000001a;

    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
  }
}

.custom-prev-product {
  
  left: 0;
}
.custom-prev {
  left: 0;
}

.custom-next-product {
  right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
.custom-next {
  right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

/* Optional hover effect */
.custom-prev:hover,
.custom-next:hover {
  @apply bg-black;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  max-width: 1660px;
}
