.swiper-pagination-custom {
  position: absolute !important;
  z-index: 1000;
  top: 70.72% !important;
  left: 9.4% !important;
}

@media (min-width: 600px) {
  .swiper-pagination-custom {
  position: absolute !important;
  z-index: 1000;
  top: 83.72% !important;
  left: 9.4% !important;
}

}
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: #ccc;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

@media (min-width: 600px) {
  .swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background-color: #ccc;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  box-shadow: 0 0 5 0 #0000001a !important;
  opacity: 1;
}



.custom-prev,
.custom-next {
  /* @apply absolute top-1/2 -translate-y-1/2 z-10  text-white w-10 h-10 flex items-center justify-center rounded-e-2xl cursor-pointer; */

  position: absolute !important;
  top: 50% !important;
  z-index: 1000;
  padding: 8px 17px 8px 10px;

}

.custom-prev {
  @apply left-0;
}

.custom-next {
  @apply right-0;
}

/* Optional hover effect */
.custom-prev:hover,
.custom-next:hover {
  @apply bg-black;
}